<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GX Bank</title>
    
    <link rel="stylesheet" href="../css/uni.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../assets/css/glorbal.css">
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.10.5/font/bootstrap-icons.css">

    <link rel="shortcut icon" href="../assets/assets/logo.png" type="image/x-icon">
      
</head>
<body>

    <section class="wd  row">

<div class="wd df row  pad nav">
    <img src="../assets/assets/logo.png" alt="" class="logo ">
    <span>

    <ul>
    <a href="">HOME</a>
    <a href="">  ABOUT US </a>
    <li class="carryo">
        <small>PRODUCT <i class="bi bi-chevron-down"></i></small>

        <span>
            <a href="">LOAN</a>
            <a href="">TRANSFER</a>
        </span>
    </li>
    <a href=""> CONTACT US</a>
    </ul>

    <a href="" class="acess">ACCESS ACCOUNT </a>
    </span>
     
</div>

    </section>






    <section class="inf r">
<main class="inf fv "></main>

<main class="a slideView">
<h3>Individual Retriement Account</h3>


<small>An IRA prepare you for retirement offering returns than 
standard savings    and variety of taxt advantages and terms to fit your needs.
  so whether you plan to travel, start a new hoddy, or just hang out with  the grandkids , we can help achieve financial  security.
</small>
<big>
WHO WE ARE 
</big>
</main>
    </section>





    <section class="abouthome">
<div>
    <h3>Superior Service Quality</h3>
    <b>About us</b>
    <big>We set standards for sustainable business practices that; unleash the talents of our employees, deliver superior value to our customers and provide innovative solutions for the markets and communities we serve.</big>
    <p>It’s our mission to help you prosper. So we treat you and your money the way we all want to be treated—with respect. How do we do it? With simple ways to spend, save, and manage your money better. From teaching your high schooL how to set up and use a checking account to helping you buy your first home, we’ll be there, right by your side. Because, we believe respecting you and your money is the first step on the journey to prosperity.</p>
</div>
<img src="../assets/assets/main/imges/about.jpeg" alt="">
    </section>
    <section class="abouthome">
<img src="../assets/assets/main/imges/2v.jpeg" alt="">

<div>
    <h3>Superior Service Quality</h3>
    <big> Your Timeless Wealth Partner</big>
<p>As a 100% customer-oriented bank, we strive to go above and beyond for our customers.

    We take pride in everything we do. That’s why we aim to exceed your expectations and return outstanding value through our wide range of products and services.
    
    A better world is important to us too. That’s why we work closely with not-for-profits and community organisations and support their initiatives through fundraising, donations and volunteering.</p>    
</div>
    </section>
<center class="mg">
    <h1>WE ARE HERE TO HELP YOU GROW YOUR BUSINESS</h1>
    <p>We are value based bank dedicated to building the social finance market. We set standards for sustainable business practices that unleash the talents of our employees, deliver superior value to our costumers and provide innovative solutions for the markets and communities we serve. Our goals is to connect capital to enterprises that are building stronger, more sustainable communities, enabling depositors and investors to finance change</p>
</center>


<footer>
    <main>

<div class="fSE">
    <img src="../assets/assets/logo.png" alt="" class="logo">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, tenetur inventore praesentium, distinctio veritatis ipsam doloremque blanditiis ipsa delectus itaque natus eligendi? Voluptates alias praesentium tempora eos illum dolore sint.</p>
    <span>
        <input type="text" name="" placeholder="enter Your Email Here..." id="">
        <button>News Letter </button>
    </span>
</div>
<div class="samedf">
    <b>company</b>
    <a href="">about us </a>
    <a href="">working loans </a>
    <a href="">ultmate checking </a>
</div>
<div class="samedf">
    <b>quick links</b>
    <a href="">about us </a>
    <a href="">working loans </a>
    <a href="">ultmate checking </a>
</div>
<div class="samedf">
    <b>service</b>
    <a href="">about us </a>
    <a href="">working loans </a>
    <a href="">ultmate checking </a>
</div >

</main>


</footer>
  <script src="../js/uni.js"></script>
</body>
</html>