<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify</title>
    <link rel="stylesheet" href="../css/uni.css">
    <link rel="stylesheet" href="../css/verify.css">
    <link rel="stylesheet" href="../assets/css/glorbal.css">
    <link rel="stylesheet" href="../assets/bootstrap-icons-1.10.5/font/bootstrap-icons.css">

    <link rel="shortcut icon" href="../assets/assets/logo.png" type="image/x-icon">
</head>
<body>
    <section>
<div class="alert">

<img src="../assets/assets/done2.gif" alt="">

<span>
    <article>

        verified 

        <i class="bi bi-x pd blue__bg  col__white cus mgl "></i>
    </article>

    <small>verification successful</small>
</span>

</div>

<main  class="verify">

<div class="main">

    <center>
        <img src="../assets/assets/logo.png" alt="" class="logoc">
    </center>
<div>

    <h1>welicome to <b>GX-</b>Bank </h1>
    <span>
        <big></big>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus omnis ab ducimus fugit tempora! Quaerat, architecto. Iure repellat ullam commodi quaerat autem vitae cum, praesentium tempore nemo rerum, hic dolores!</p>
    </span>
</div>
<div class="s">

 <ul>
    09whjh02ok
 </ul>
 <input type="text" placeholder="Enter Here ">
 <button class="upper btn cus">verify Code</button>
</div>


</div>

</main>
        
    </section>



</body>
</html>