
:root{
    --bg:rgb(1, 0, 22);
    --bgw:white;
    --bgt:rgb(133, 127, 127);
    --bx: linear-gradient(to right, rgb(61, 61, 207), rgb(0, 0, 53));

}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: center;
   }
.abouts{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8%;
    >*{
        width: 600px;
        flex-grow: 1;
        img{
            width: 100%;
            height: 27pc;
            object-fit: cover;
        }

    }
    .head{
        display: flex;flex-direction: column;
width: 100%;
        padding: 12px;
        h1{
            display: flex;
            margin: 22px;
        }
        p{
            display: flex;width: 100%;
        }
        span{
            display: flex;
            width: 100%;
            max-width: 100vw;
            flex-wrap: wrap;
            align-items: center;
            big{
                width: 200px;
                max-width: 400px;
                height: fit-content;
                padding: 22px;
                @media screen and (max-width:800px) {
        
                   width: 100%;
                }
                background:var(--bx) ;
                margin: 12px;
                align-items:center ;
                display: flex;
                flex-direction: column;
                color: white;text-align: center;
                border-radius: 9px;
                b{
                    font-size: 33px;
                }
                >*{
                    color:rgb(243, 238, 238);
                    text-transform: capitalize;
                }
            }
        }
    }
}


.coomet{
    display: flex;
    @include centers();
    flex-direction: column;
    margin-top: 9%;
    text-align: center;
   
    .head{
        display: flex;flex-direction: column;
        margin-bottom: 22px;
        h3{
            font-size: 30px;
            color: var(--bgt);

        }
        big{
            display: flex;
            font-size: 40px;
            font-weight: bolder;
        }
        p{
            font-style: italic;
        }
    }
    
    main{
        display: flex;
        width: 100%;
        big{
            width: 400px;
            margin: 12px;
            background: var(--bxw);
            box-shadow: 1px 3px 2px rgba(84, 56, 167, 0.562);
            padding: 12px;
            border-radius: 12px;
            i{
                font-size: 40px;
                margin-bottom: 12px;
                height: 34px;
                border-radius: 50%;
                margin: 12px !important;
                width: 34px;
                background: var(--bx);
                color: white;
                padding: 12px;
            }
            >*{
                
                color: var(--bx);
                
            }
        }
    }
}