@mixin centers{
    display: flex;
    align-items: center;
    justify-content: center;
   }


.verify{
    width: 100%;
    @include centers();
background-image: url("../assets/assets/main/imges/pexels-photo-1181214.jpeg");
height: 100vh;
overflow: hidden;
background-repeat: no-repeat;
background-size: cover;
background-repeat: center;

    .main{
        @media screen and (max-width:900px) {
        width: 100vw;
            
        }
        width: 50%;
        height: 100%;
        background-color: #01023d6e;
        backdrop-filter: blur(2px);
        padding: 12px;
        overflow-y: auto;
        div{
            display: flex;flex-direction: column;
            width: 100%;
    @include centers();
        
            h1{
                
                color:white !important;
                font-size: 230%;
                margin: 12px;
                b{
                    color: #02022eea;
                   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                   font-weight: lighter;
                   font-size: 3rem;
                }
            }

            p{
                display: flex;
                color:rgb(235, 231, 231);
            }
        }.s{
            ul{
                display: flex;
width: 100%;
padding: 12px;
    font-size: 43px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    color: #01023d;
    margin-top: 12px;
    font-weight: bolder;
    margin-bottom: 12px;
    text-transform: uppercase;
    
            }
            input{
                width: 50%;
                display: flex;
                padding: 12px;
                height: fit-content;
                align-self: center;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 150%;
                color: #01023d;
                &::placeholder{
                    color: #01023d65;
                }
            }
            .btn{
                display: flex;
                padding: 12px;
                background-color: #f70303;
                color: white;
                outline: none;
                border: none;
                margin-top: 12px;
                width: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
            }
        }
    }
    
    .logoc{
        height: 120px;
    }
    span{
        display: flex;
        width: 100%;
        big{
            background-color: red;
            width: 29px;
            margin-right: 12px;
            height: 70px;
            display: flex;
            border-radius: 100px;
flex-direction: column;
        }
    }
}


.logoc{
    z-index: 9999999;
}