
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
    {% csrf_token %}
    <input name="username" placeholder="enter username" type="text">
    <input name="email" placeholder="enter email" type="text">
    <input name="message" placeholder="enter message" type="text">
    <button type="submit">send </button>
</form>
</body>
</html>


