:root {
  --bg: rgb(1, 1, 36);
  --bgw:white;
  --bgt:rgb(133, 127, 127);
  --bgt3:#0c0c0c9f
  --bgt2:rgba(3, 19, 90, 0.493);
  --brt:#dd2c2c;
  --bgct:#4ae6c4;
  --bx: linear-gradient(to right, #3d3dcf, #000035);
}

.main___overallbody {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  padding: 12px;
  font-size: 0.9em;
  text-transform: capitalize;
}
.main___overallbody .step__1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 12px;
}
.main___overallbody .step__1 > *:first-child {
  display: flex;
  flex-direction: column;
}
.main___overallbody .step__1 > * p {
  color: var(--bgt);
}
.main___overallbody .step__1 a {
  padding: 2%;
  border-radius: 5px;
  max-width: 100px;
  width: 100px;
  background: var(--bgw);
  margin: 7px;
  color: #000035;
  display: flex;
}
.main___overallbody .step__1 a:first-child {
  background: var(--bx);
  color: white;
}
.main___overallbody .step__1 a:hover {
  background: #dd2c2c;
  color: white;
}
.main___overallbody .step__2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .main___overallbody .step__2 {
    flex-direction: column;
    display: flex;
  }
}
.main___overallbody .step__2 > * {
  display: flex;
  flex-grow: 1 !important;
  flex-direction: column;
}
.main___overallbody .step__2 > * .card {
  background: var(--bx);
}
.main___overallbody .step__2 > * small {
  display: flex;
  flex-direction: column;
}
.main___overallbody .step__2 > * .flag {
  width: 20px;
  height: 10px;
}
.main___overallbody .step__2 > * .profile {
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 50%;
}
.main___overallbody .step__2 .side1 {
  display: flex;
  margin: 22px;
  width: 50% !important;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .main___overallbody .step__2 .side1 {
    width: 100% !important;
  }
}
.main___overallbody .step__2 .side1 .balancex {
  display: flex;
  font-size: xx-large;
}
.main___overallbody .step__2 .side1 .balancex s {
  display: flex;
  margin-left: 12px;
  color: #dd2c2c;
  font-size: medium;
}
.main___overallbody .step__2 .side1 aside {
  display: flex;
  width: 80%;
  padding: 12px;
  justify-content: space-around;
  align-items: center;
  background: var(--bx);
}
.main___overallbody .step__2 .side1 aside > * {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main___overallbody .step__2 .side2 {
  display: flex;
  width: 50%;
  flex-direction: column;
}
@media screen and (max-width: 800px) {
  .main___overallbody .step__2 .side2 {
    width: 100%;
  }
}
.main___overallbody .step__2 .side2 .header {
  display: flex;
  flex-direction: row !important;
  padding: 12px;
  width: 100%;
  justify-content: space-between;
}
.main___overallbody .step__2 .side2 .header h3 a {
  color: var(--brt);
  -webkit-text-decoration: underline white !important;
          text-decoration: underline white !important;
  padding-bottom: 3px;
}
.main___overallbody .step__2 .side2 .saved__infor {
  display: flex;
  background-color: rgba(117, 112, 112, 0.3137254902);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 12px;
}
.main___overallbody .step__2 .side2 .saved__infor p {
  display: flex;
  align-items: center;
  font: 1.5em sans-serif;
}
.main___overallbody .step__2 .side2 .saved__infor p i {
  background-color: var(--bgw);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  color: var(--brt);
  padding: 7px;
}
.main___overallbody .step__2 .side2 .saved__infor b {
  margin-top: 12px;
  display: flex;
  font-size: medium;
  text-transform: uppercase;
}
.main___overallbody .step__2 .side2 .saved__infor b abbr {
  display: flex;
  font-size: small;
  margin-left: 9px;
  color: #dd2c2c;
}
.main___overallbody .step__2 .side2 .coluster {
  display: flex;
}
.main___overallbody .step__2 .side2 .coluster > * {
  margin: 9px;
}
.main___overallbody .step__3 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media screen and (max-width: 900px) {
  .main___overallbody .step__3 {
    flex-wrap: wrap;
  }
}
.main___overallbody .step__3 > * {
  width: 600px;
  flex-grow: 1;
  margin: 2px;
  padding: 9px;
}
.main___overallbody .step__3 .header {
  display: flex;
  flex-direction: column;
}
.main___overallbody .step__3 .header .h__1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
}
.main___overallbody .step__3 .header .h__1 a {
  color: var(--brt);
  border-bottom: 1px solid rgb(31, 0, 143);
}
.main___overallbody .step__3 .header .main___h {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 12px;
  background-color: rgba(192, 182, 182, 0.1529411765);
  margin-top: 12px;
  margin-bottom: 12px;
}
.main___overallbody .step__3 .header .main___h b:last-child, .main___overallbody .step__3 .header .main___h b:nth-child(2) {
  text-align: right;
}
.main___overallbody .step__3 .header .main___h strong {
  font-size: large;
}
.main___overallbody .step__3 .header .main___h .fee {
  font-size: small;
  color: #3d3dcf;
}
.main___overallbody .step__3 .header .main___h .amountside2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.main___overallbody .step__3 .header .main___h .amountside2 .amontd {
  font-size: larger;
  text-transform: uppercase;
}
.main___overallbody .step__3 .header .main___h .amountside2 .btns {
  background: var(--bx);
  color: var(--brt);
  padding: 6px;
}
.main___overallbody .step__3 .header .main___h .amountside2 .btns:hover {
  color: white;
}
.main___overallbody .step__3 .header .main___h .amountside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.main___overallbody .step__3 .header .main___h .amountside .amontd {
  font-size: larger;
  text-transform: uppercase;
}
.main___overallbody .step__3 .header .main___h .amountside .btns {
  background: var(--bx);
}/*# sourceMappingURL=dashboard.css.map */