
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

.df{
    display: flex !important;
}
.fd__row{
    flex-direction: row;
}
.fd__clo{
    flex-direction: column;
}
.wd{
    width: 100%;

}

.main__bg{
    background-color: #000003;
}
.white__bg{
    background-color: #ffffff;
}
.white__bgT{
    background-color: #ffffff4b;
}
.main__bgT{
    background-color: #00000365;
}

.h__fit{
    height: fit-content;
}
.colorText{
   color: #000003;
}
.colorText2{
   color: #0c0c0c;
}

.fz__sm{
    font-size: small;
}
.fz__sl{
    font-size: larger;
}
.fz__title{
    font-size: 2.9em;
}

.btw{
    justify-content: space-between;
}
.even{
    justify-content: space-evenly;
}

.w__box{
    width: 450px;
}
.a{
    position:absolute;

}
.r{
    position:relative;
}
 

.w__2{
 width: 300px;
 height: fit-content;
}


.pad{
    padding:12px
}

.pad2{
    padding:22px;
}



.su__bg{
    background-color: #5df7e2;
    color: #ffffff;
    text-shadow: 2px 1px gray;
}
.f__bg{
    background-color: red;
}


.allcenter{
    justify-content: center;
    display: flex;
    align-items: center;
}
.selfcenter{
    justify-self: center;
    display: flex;
    align-self: center;
}
.toggle_bar{
    display: none;
}
    
@media screen and (max-width:980px) {
    .toggle_bar{
        display: flex !important ;
    }
    

}
@media screen and (min-width:980px) {
    .toggle_bar{
        display: none  !important;
    }
    

}

.allspace{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.hds{
    height: 100px;
}

.alertcon{
    display: flex;
    height: 90px;
    width: fit-content;
    max-width: 260px;
    margin: 12px;
    padding: 12px;
    box-shadow: 2px 2px 3px   rgba(73, 178, 185, 0.753);
    border-radius: 12px ;
    animation-name: alert;
    animation-duration: 3s ;
    animation-iteration-count: 1;
    background-color: #eaf3f3;
    animation-delay: 2s;
    /* position: fixed; */
    text-transform: capitalize;
    transition: all 2s ease-in cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

}

@keyframes alert {
    0%{transform :scale(0) ;}    
  100%{ transform :scale(1.0);}    
}
.alertconimg{
    height: 100%;
    margin-right: 9px;
}

.col__white{
 color:white;
}
.col__blue{
 color:rgb(11, 11, 63);
}
.col__red{
 color:rgb(221, 9, 9);
}
.logo{
    width: 120px;
    height: 90px;
}

.mg{
    margin: 12px;
}
.mgt{
    margin-top: 12px;
}
.mgl{
    margin-left: 12px;
}
.mgr{
    margin-right: 12px;
}
.fg{
    flex-grow: 1 !important;
}
.mg2{
margin: 22px;
}
.upper{
    text-transform: uppercase;
}
.cap{
    text-transform:capitalize;
}
.hwd{
    width: 50%;
}
.shadow{
box-shadow: 2px 1px 3px #0000ff71;
}

.blue__bg{
    background-color: #0a06e2;
}

.cus{
    cursor: pointer;
}

.mgl{
    margin: 12px;
}




.fw{
    flex-wrap: wrap !important;
}


.colorT{
    color: rgb(212, 206, 206);
}

.errorT{
    color: rgb(231, 30, 30);
}
.errorB{
    background-color: rgb(231, 30, 30);
}
.accT{
    color: rgb(0, 224, 206);
}
.accB{
    background-color: rgb(1, 195, 221);
}
.cap{
    text-transform: capitalize;
}