
:root{
    --bg: rgb(1, 1, 36);
    --bgw:white;
    --bgt:rgb(133, 127, 127);
    --bgt2:rgba(3, 19, 90, 0.493);
    --brt:#dd2c2c;
    --bgct:#4ae6c4;  
    --bx: linear-gradient(to right, #3d3dcf, #000035);



}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: center;
   }
.payment{
    display: flex;width: 100%;
    flex-direction: column;
    .main__s{
        display: flex;flex-direction: column;
        height: 100%;
        width: 100%;
        @include centers();
        text-transform: capitalize;
        form{
            margin-top: 22px;
            width: 800px;
            max-width: 97vw;
            background-color: #0000355b;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            span{
                display: flex;
                flex-direction: column;
                width: 100%;
                margin-top: 22px;
                >*{
                    width: 100%;
                }
                label{
                    margin: 9px;
                }
                
                small{
                    display: flex;justify-content: space-between;
                    width: 100%;
                    padding: 12px;
                    >*{
                        color: var(--bgt);
                    }
                }
     
                select, input{
                    width: 100%;
                    flex-grow: 1;
                    border: none;
                    option{
                        display: flex;
                        text-transform: capitalize;
                        padding: 12px;
                        flex-direction: column;background-color: red;
                    }
                    height: 40px;
                    padding: 12px;
                    background-color: rgba(243, 243, 243, 0.267);
                }
                input{
                    &::placeholder{
                        display: flex;align-self: flex-end;
                        width: 100%;
                        justify-self: flex-end;
                    }
                }
            }
            .bgxds{
                background: var(--bx);
                padding: 12px;
                border: none;
                text-transform: capitalize;
                cursor: pointer;
                border-radius: 9px;
            }
        }
    }
}



marquee{
    z-index: -99 !important;
}