:root{
    --bg: rgb(1, 1, 36);
    --bgw:white;
    --bgt:rgb(133, 127, 127);
    --bgt3:#0c0c0c9f
    --bgt2:rgba(3, 19, 90, 0.493);
    --brt:#dd2c2c;
    --bgct:#4ae6c4;  
    --bx: linear-gradient(to right, #3d3dcf, #000035);



}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .main__holders{
    display: flex;flex-direction: column;
    .header__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: capitalize;
      
        span{
            font-size: small;
            margin-bottom: 22px;
            p{
                color: var(--bgt);
            }
        }
        a{
            background: var(--bx);
            padding: 9px;
            border-bottom-left-radius: 3px;

        }
    }
    .sec_32_h{
        display: flex;
        flex-direction: column;
        .jd{
            background: var(--bx);
            padding: 12px;
            margin-bottom: 12px;
            font-weight: bolder;
            text-transform: uppercase;
        }
        ul{
            padding: 12px;
            width: 100%;
            li{
                display: flex;
                width: 100%;
                flex-direction: row;
                text-transform: capitalize;
                i{
                    margin-right: 9px;
                    color: #dd2c2c;
                }
            }
            >*{
                margin-top: 12px;
            }
        }
    }
    form{
        display: flex;
        width: 100%;
        flex-direction: column;
        padding: 12px;
        span{
            width: 100%;
            display: flex;flex-direction: column;
            background-color: none;
            margin-top: 12px;
            label{
                text-transform: capitalize;
                margin-bottom: 12px;
            }
            flex-direction: column;
            input,select{
               padding: 12px;
                width: 100%;
                &:hover{
                    
                    border-bottom: 2px solid rgb(226, 21, 21);
                }
                background-color: rgba(255, 255, 255, 0.055);
                height: fit-content;
                text-transform: capitalize;
                border: none;
                border-bottom: 2px solid white;
            }
        }
        .imges{
            display: flex;
            margin-top: 44px;
            flex-direction: row;
            justify-content: space-between;
            label{
                small{
                    font-size: x-large;
                    padding: 12px;
                }
                position: relative;
                background-color: #000035;
                height: 230px;
                width: 400px;
                display: flex;
                flex-direction: column-reverse;
                img{
                    background-color: white;
                    width: 100%;
                    height: 100%;
                }
                input {
                    display: none;

                }
            }
        }
    }
    button{
        background-color: #dd2c2c;
        color: aliceblue;
        border: none;
        padding:12px;
        margin-top: 44px;
    }
   }