
:root{
    --bg: rgb(1, 1, 36);
    --bgw:white;
    --bgt:rgb(133, 127, 127);
    --bgt2:rgba(3, 19, 90, 0.493);
    --brt:#dd2c2c;
    --bgct:#4ae6c4;  
    --bx: linear-gradient(to right, #3d3dcf, #000035);



}
@mixin centers{
    display: flex;
    align-items: center;
    justify-content: center;
   }


   .main__bVirtual{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        font-size: 2.4em;
        text-transform: capitalize;
    }
   .main__con{
    display: flex;
    flex-direction: column;
    width: 70%;
    align-items: center;
    background:#80808057;
    padding: 12px;
    margin:12px;
    border-radius: 12px;
    i{
        background-color: #000035;
        padding: 12px;
        border-radius: 50%;
        margin:12px;
    }
    .headericon{
        font-size: 29px;
    }
    .btn{
        display: flex;
        background: var(--bx);
        padding: 12px;
        border-radius: 12px;
        &:hover{
            color: white;
        }
    }

}
.support{
    display: flex;
margin: 22px;
text-transform: capitalize;
small{
    margin: 12px;
    color: var(--brt);
    text-transform: uppercase;
}
}
   }


