
{% extends './base.html' %}
   {% load static %}
   {% load humanize %}

   {% block link  %}
   <link rel="stylesheet" href="{% static '/dashboardCSS/dashboard.css'%}">
   {% endblock   %}
{% block content %}

 

<main class="main__body">

   {% include './head.html' %}
 
    <main class="main___overallbody">
        <div class="step__1">
            <span>
                <h2 class="upper">Welcome! Back {{request.user.username}}</h2>
                <p>at a glance summary of our account!  </p>
            </span>
            <small>
               <a href="{% url 'innertransfer' user.uuid %}">Transfer fund <i class="bi bi-arrow-right"></i>     </a>
            </small>
        </div>
<div class="step__2">
<span class="side1">
<h3 class="mg upper" >

    overview
</h3>
<aside class="fg">
<small class="" >
<img class="profile" src="https://img.freepik.com/premium-vector/modern-world-map_275806-275.jpg?semt=ais_hybrid&w=740&q=80" alt="">
<strong class="upper mgt">
    last login
</strong>
<p class="colorT mgt">{{request.user.last_login}}</p>
</small>


<small>
<thead>

    <h5 class="upper colorT">availiable balance </h5>
    <b class="balancex upper"><s>{{user.Currency}} </s>{{user.balance|intcomma}} </b>
<p class="df "> <i class="bi bi-person mgr col__red"></i> {{request.user.username}}</p>

</thead>
<thead>
    <p class="colorT">

        your ip address
    </p>
    <tr class="df wd">
        <img class="flag" src="" alt="">
   <p class="qp"></p>
   <script>
    function apfetch() {

        fetch('https://ipinfo.io/json')
    .then(res => res.json())
    .then((data) => {

        document.querySelector('.qp').innerHTML = data.country+":    " + "IP--"+data.ip
        document.querySelector('.flag').src = `https://flagsapi.com/${data.country}/flat/64.png`
    }
    )
    }
    apfetch()
   </script>

    </tr>
</thead>
</small>
</aside>

</span>
<span class="side2">
<small class="df header">

    <h3 class="upper colorT">{{user.typeAcc}} acccount </h3>
    <a href="{% url 'innertransfer' user.uuid %}" class="colorT ">transfer fund</a>
</small>
<small class="wd df saved__infor ">
<p class="df wd "><i class="bi bi-person-circle mgr"></i> <b class="allcenter" style="font-size:smaller; color: rgba(252, 0, 0, 0.674); margin-right: 9px;"> Account Number: <br> </b>  {{user.AccountNUm}}</p>
<b style="font-size: small;">{{user.typeAcc}} Account  Balance
    <abbr > {{user.Currency}}  </abbr>{{user.balance|intcomma}}
</b>
</small>

</span>


</div>
<span class="fd wd step__3 ">
<div class="header">
    <small class="h__1">

        <h3>recent transcations activities </h3>
        <a href="{% url 'Accountsum' user.uuid %}">all</a>
    </small>
    {% if d %}
    {% for d in d %}
    <small class="main___h">
        <b>
            <strong>GXB/{{d.uuid}} <I class="bi bi-wallet"></I></strong>
            <p class="colorT mgt"> {{d.date}}</p>
        </b>
        <b class="amountside">
            <p>amount</p>
            {% if d.statedecr == 'Debit' %}
            <p class="amontd accT ic" style="color: red;">- {{user.Currency}}{{d.amount|intcomma}}  </p>
            {% else %}
            <p class="amontd accT " style="color: beige;">+  {{user.Currency}}{{d.amount|intcomma}}  </p>
            {% endif %}
            {% if d.approved %}
            <article class="accT upper">completed</article>
            {% else %}
            <article class="accT upper" style="color: rgba(255, 0, 0, 0.87);">Pending </article>
            {% endif %}
        </b>
        <b class="amountside2">
            <p class="upper df cap">{{d.statedecr}}</p>
            <a href="{% url 'successful' d.uuid %}" class=" btns">view </a>
        </b>

    </small>
    {% endfor %}
    {% else %}

    <div style="background-color: #3365ee15; width: 100%; height: 160px; display: flex; align-items: center; justify-content: center;">
        <h1>No Transcation </h1>
    </div>
    {% endif %}



</div>
<div>
<!-- START CODE Attention! Do not modify this code; --><script>var fm = "EUR";var to = "USD";var tz = "timezone";var sz = "1x1";var lg = "en";var st = "default";var lr = "1";var rd = "0";</script><script src="//currencyrate.today/converter"></script><div style="text-align:right"><a href="https://currencyrate.today">CurrencyRate</a></div><!-- Attention! Do not modify this code; END CODE -->

</div>
</span>

    </main>
</main>

{% endblock content %}
