

{% extends './base.html' %}
   {% load static %}
   {% load humanize %}

   {% block link  %}
   <link rel="stylesheet" href="{% static '/dashboardCSS/successful.css'%}">
   {% endblock   %}
{% block content %}



<main class="main__body">   

   {% include './head.html' %}
    

        <div class="paymentconclude">
           <small class="healder">
            <img src="{% static 'assets/assets/done.gif' %}"  alt="">
            {% if d.approved == True %}
            <b>Transaction Sucessfully</b>
            {% else %}
            <b>Transaction On process</b>
            {% endif %}
            <p>you have successfully tranfered {{d.amount|intcomma}}{{user.Currency}} to  {{d.bankname}}  </p>
            <strong>Detail of your are shown below</strong>
           </small>
           <div class=" body   upper ">
            <span>
                <small><i class="bi bi-exclamation-circle">
   
                </i>Amount  {{d.statedecr}}ed </small>
                
                
                <p>USD -{{d.amount|intcomma}}</p>
            </span>
            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>Transaction refrence</small>
                <p>REF/{{d.uuid}}</p>
            </span>
            {% if not d.statedecr == 'credit' %}
            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>Account holder</small>
                
                
                <p>{{d.holdername}}</p>
            </span>
            
                
              
                
               
            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>Account Number </small>
                <p>{{d.accountnumber}}</p>
            </span>
            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>Bank name </small>
                <p>{{d.bankname}}</p>
            </span>
            {% endif %}

            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>Date/time  </small>
                <p>{{d.date}}</p>
            </span>
            {% if not d.statedecr == 'credit' %}
            <span>
                <small><i class="bi bi-exclamation-circle">
    
                </i>description </small>
                <p>{{d.disc}}</p>
                
            </span>
            {% endif %}
        </div>

<span class="df even pad cap">
    {% if d.disc == 'gifted' %}
    <a href="{% url 'samebank' user.uuid %}" class="mg pad ">new Transcation </a>
    {% else %}
    <a href="{% url 'innertransfer' user.uuid %}" class="mg pad ">new Transcation </a>
  {% endif %}
   
    <a href="{% url 'dashboard' user.uuid %}" class="mg pad col__red">Back to home</a>
   
</span>
<p class="df wd cap allcenter allcenterT hd asdcs pad">all electronic fund transfers to or from your account at {{i.name}} are governed by the Electronic fund transfer Disclosure provided to you when you established
    your account or when you requested other electronic fund transfer services.
</p>

           
        </div>
    </main>
   <script>
    localStorage.removeItem('amount')
    function exportCSVExcel() {
	var tableElement = document.getElementById("table-product-list");
	var sourceData = "data:text/csv;charset=utf-8,";
	var i = 0;
	while (row = tableElement.rows[i]) {
		sourceData += ([
			row.cells[0].innerText,
			row.cells[1].innerText,
			row.cells[2].innerText,
			row.cells[3].innerText
		]).join(",") + "\r\n";
		i++;
	}
	window.location.href = encodeURI(sourceData);
}
   </script>
</section> 
   
<script>
    let cancel = document.querySelector('.cancel')
    let btnopo = document.querySelector('.btnopo')
    let alertx = document.querySelector('.alert')
    let alert2 = document.querySelector('.cvv')
    let btnzx = document.querySelector('.btnzx')
    let finicalalert = document.querySelector('.finicalalert')
    btnzx.addEventListener('click',()=>{
        alert2.style.display="none"
    })
    finicalalert.addEventListener('click',()=>{
        alert2.style.display="flex"
        alertx.style.display="none"

    })
    cancel.addEventListener('click',()=>{
        alertx.style.display="none"
    })
    btnopo.addEventListener('click',()=>{
        alertx.style.display="flex"
    })
    </script>
{% endblock content %}
