<div class="sec_32_h display__2">
    <li class="jd display__2 cap" style="display: flex;  text-transform: capitalize !important; ">
    <a href="{% url 'widthdrawalF' user.uuid %}" style="margin: 12px ;border-bottom: 2px solid rgba(255, 0, 0, 0.753);">withdraw fund </a>    
    <a href="{% url 'AddwidthdrawalF' user.uuid %}" style="margin: 12px ;border-bottom: 2px solid red;">add Account</a>    
    <a href="{% url 'widthdrawalhistory' user.uuid %}" style="margin: 12px ;border-bottom: 2px solid red;">withdraw History</a>    
    
    </li>
    
    </div>