*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    color: black;
}


h1,h2,h3,h4{
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
    font-weight: lighter;
}

@mixin centers{
 display: flex;
 align-items: center;
 justify-content: center;
}

.alert{

    @media screen and (max-width:900px) {
        width: fit-content!important;
    position: unset;
    max-width: 60vw;
    position: absolute;
    z-index: 999;

    backdrop-filter: blur(02px);
    background-color: rgb(233, 246, 250);

    
        }
    display: flex;
    width: fit-content;
    max-width: 320px;
    padding: 12px;
    backdrop-filter: blur(12px);

    position: fixed;
    margin: 12px;
    box-shadow: 2px 2px 1.2px #0000ff42;
    height: fit-content;

    animation-name: alert;
    animation-duration: 3s ;
    animation-iteration-count: 1;
    background-color: #eaf3f36c;
    font-size: smaller;
    animation-delay: 2s;
    /* position: fixed; */
    text-transform: capitalize;
    transition: all 2s ease-in cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-timing-function: cubic-bezier(0.23, 1, 0.320, 1);

@include centers();
@keyframes alert {
    0%{transform :scale(0) ;}    
  100%{ transform :scale(1.0);}    
}
    img{
        width: 130px;
        height: 90px;
        border-radius: 50%;
        box-shadow: 2px 1px 3px rgb(4, 0, 255);
        @media screen and (max-width:900px) {
            width: 40px !important;
        position: unset;
        height: 40px;
        
            }
    }


    span{
        display: flex;flex-direction: column;
        article{
            font-size: larger;
            font-weight: bolder;
    backdrop-filter: blur(0px);

            color: blue;
        }
        small{
            color: cornflowerblue;
            margin-top: 21px;
        }
    }
}

.wrong{
    color: tomato;
}


.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    background-color:#02053b00 ;
    transition: all 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;justify-content: space-between;
    align-items: center;

    span{
        display: flex;
        width: fit-content;
        ul{
            @media screen and (max-width:980px) {
            
         position: absolute;

top: 100%;
right: 0;
display: flex;
flex-direction: column;
height: fit-content !important;
background-color: #010218;
    // a{

    //     color: #02053b;
    // }


            }
            display: flex;
            >*{
                display: flex;
                margin: 12px;
                cursor: pointer;
                color: white;
                cursor: pointer;
font-size: 17px;
            }
            .carryo{
                display: flex;
                flex-direction: column !important;
                height: fit-content;
                color: white;

                position: relative;
                &:hover{
                    span{
                        display: flex;
                    }
                }
                small,i{
                color: white;

                }
                span{
                    display: flex;flex-direction: column;
                    position: absolute;
                color: white;
display: none;
                    height: fit-content;
                    padding: 0px;
                    margin-top: 22px;
                    background-color: aliceblue;
                    >*{
                        margin-top: 12px;
                        border-bottom: 2px solid #02053b;
                        padding: 12px;
                        &:hover{
                            color: gray ;
                        }
                    }
                }
            }
        }
        .acess{
            display: flex;margin: 12px;
            background-image: linear-gradient(to right, rgb(61, 61, 207), rgb(0, 0, 53));
            color: white;
            padding: 12px;
            border-radius: 12px;
            &:hover{
                background: aliceblue;
                color: black;
            }
        }
    }
}
.bx{
    background-image: linear-gradient(to right, rgb(61, 61, 207), rgb(0, 0, 53));

}
.bx2s,.partners{
    background:  rgb(1, 1, 29);
    color: white;

}

.mg{
    margin: 12px;
}
.mg2{
    margin: 22px;
}



footer{
    display: flex;
    width: 100%;
    background-image: url('../assets/assets/main/imges/c\ -\ Copy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    margin-top: 4pc;
    p,h3,a,b{

        color: white;
    }
    main{
        width: 100%;
        height: 100%;
        background-color: rgba(1, 1, 22, 0.733);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @media screen and (max-width:980px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        >*{
            width: 100% !important;
            flex-grow: 1;

        }
        .samedf{
padding: 22px;
        }
        }
        >*{
            width: 300px;
            flex-grow: 1;
        }
        .fSE{
            display: flex;
            font-display: auto;
            flex-direction: column;
            padding: 22px;
span{
    display: flex;
    margin-top: 12px;
    input{
        padding: 12px;
        outline: none;
        border: none;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
    }
    button{
        display: flex;
    border: none;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin-left: 5px;
        outline: none;
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
background: var(--bx);        
    }
}
        }
        .samedf{
            display: flex;
            flex-direction: column;
            b{
                font-size: 160%;
                text-transform: uppercase;
                cursor: var(--bx);
                
                width: fit-content;
                margin-bottom: 12px;
            }
            a{
                margin-top: 12px;
                text-transform: capitalize;
                &:hover{
                    color: gainsboro;
                }
            }
        }
    }
}


.bi-twitter{
    color: cornflowerblue;
    
}
.bi-facebook{
    color: rgb(0, 83, 238);
}
.bi-telegram{
    color: rgb(100, 237, 203);
}
.fz{
    font-size: 23px;
}

.inf{
    display: flex;
    width: 100%;
    height: 70vh;
    @media screen  and (max-width:800px) {
        width: 100vw;   
       }
    background-position: center ;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../assets/assets/main/imges/pexels-photo-225502.jpeg');
    video{
        background-color: rgb(1, 3, 36);
        display: flex;width:100%;
        object-fit: cover;
        height: 100%;
    }

    .slideView{
        display: flex;
        width: 100%;
        background-color: rgba(0, 9, 17, 0.473);
        height: 100%;
        flex-direction: column;
        align-items: baseline;
        @media screen  and (max-width:800px) {
         width: 100vw;   
         small{
            font-size: 12px !important;
         }
         h3{
            font-size: 15px;
         }
         i{
            font-size: x-small;
         }
        }
        justify-content: flex-end;
        padding: 12px;
        padding-bottom: 9%;
        
        big{
            font-size: small;
    background-image: linear-gradient(to right, rgb(61, 61, 207), rgb(0, 0, 53));
            
            padding: 12px;
            >*{

                color: rgb(255, 255, 255);
                
            }

        }
        >*{

margin-top: 1%;
            color:white ;
        }
        h1{
            font-size: 5.1ex;
            @media screen and (max-width:800px) {
                font-size: 1rem;
        
            }
            b{
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                color: rgb(2, 12, 68);
                margin: 12px;
                @media screen and (max-width:800px) {
                    font-size: 1rem;
            
                }
            }
        }


    }
}
.ds{
    @media screen and (max-width:800) {
        
        margin: 12px;
    }
}


.bgd{
    background:#010016;
    span{
        display: flex;
        width: fit-content;
        ul{
            display: flex;
            @media screen and (max-width:800) {
        
                display: none;
            
        }

            >*{
                display: flex;
                margin: 12px;
                cursor: pointer;
                color: rgb(172, 158, 158);
font-size: 17px;
            }
            .carryo{
                display: flex;
                flex-direction: column !important;
                height: fit-content;
                color: white;

                position: relative;
                &:hover{
                    span{
                        display: flex;
                    }
                }
                small,i{
                color: white;

                }
                span{
                    display: flex;flex-direction: column;
                    position: absolute;
                color: white;
display: none;
                    height: fit-content;
                    padding: 0px;
                    margin-top: 22px;
                    background-color: aliceblue;
                    >*{
                        margin-top: 12px;
                        border-bottom: 2px solid #02053b;
                        padding: 12px;
                        &:hover{
                            color: gray ;
                        }
                    }
                }
            }
        }
        .acess{
            display: flex;margin: 12px;
            background-image: linear-gradient(to right, rgb(61, 61, 207), rgb(0, 0, 53));
            color: white;
            padding: 12px;
            border-radius: 12px;
            &:hover{
                background: aliceblue;
                color: black;
            }
        }
    }
}


.df{
display:flex !important;
}

.mg{
    margin:43px;
}
.mgt{
    margin-top:43px;
}

